.post {
	border-radius: 18px;
	overflow: hidden;
	height: 100%;

	&-bg {
		background-color: $color_white;

		.post-content {
			padding: 18px 12px;
		}

		.post-thumbnail {
			margin-bottom: 0;
		}
	}

	&-thumbnail {
		width: 100%;
		height: 168px;
		overflow: hidden;
		border-radius: 18px;
		margin-bottom: 18px;
		display: block;

		img {
			object-fit: cover;
			object-position: 50% 50%;
			-o-object-position: 50% 50%;
			width: 100%;
			height: 100%;
		}
	}

	&-title {
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 8px;
		color: $color_brown;
		text-transform: capitalize;

		a {
			color: $color_brown;

			&:hover {
				color: $color_a;
				text-decoration: none;
			}
		}
	}

	&-desc {
		font-size: 14px;
		color: $color_gray;
		margin-bottom: 0;
	}
}