$color_a : #D7A444;
$color_white : #fff;
$color_gray : #444444;
$color_white_d : #FAF7F1;
$color_black : #000;
$color_brown : #3D2411;
$color_brown_d : #2A1A09;
$color_yelow : #D7A444;
$color_yelow_d : #D7BB88;
$color_yelow_bg : #FFFAEA;
$color_yelow_light : #F6E8CC;